    html,
    body,
    .container {
        height: 100%;
        min-height: 100%;
    }
    
    .box2 {
        /*Third*/
        /*Portfolio */
        float: right;
        width: 80%;
        height: 80%;
        padding-left: 2%;
        /* background-color: blue; */
    }
    
    .box3 {
        /*First*/
        /* Money stats */
        float: left;
        width: 20%;
        height: 30%;
        position: relative;
        padding-left: 2%;
        /* background-color: whitesmoke; */
    }
    
    .box4 {
        /*Second*/
        /*Buy box*/
        float: left;
        left: 0%;
        width: 20%;
        height: 70%;
        padding-left: 2%;
        position: relative;
        /* background-color: green; */
    }
    
    #tableTitle {
        color: whitesmoke;
    }
    
    #moneyVal {
        color: whitesmoke;
        font-weight: bold;
        font-size: larger;
    }
    
    #yessir {
        background: url('../img/refreshbutton.png');
        position: absolute;
        right: 1%;
        width: 1.5%;
        height: 3%;
        border: none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    #ptext {
        color: whitesmoke;
        font-size: larger;
        vertical-align: bottom
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    input[type=text]:focus {
        background-color: lightblue;
    }
    
    input[type=text] {
        margin: 8px 0;
        width: 65%;
        box-sizing: border-box;
        border: 1px solid #555;
        outline: none;
    }
    
    input[type=number]:focus {
        background-color: lightblue;
    }
    
    input[type=number] {
        margin: 8px 0;
        width: 40%;
        box-sizing: border-box;
        border: 1px solid #555;
        outline: none;
    }
    
    #orderBtn {
        width: 8%;
        height: 8%;
        vertical-align: middle;
        background: url('../img/greencheck.png');
        border: none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    th,
    td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    
    th {
        background-color: #4CAF50;
        color: white;
    }
    /* .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 8%;
      height: 20%;
    }

    .container {
      padding: 2px 16px;
      text-align: left;
    } */